.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9995;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  mix-blend-mode: multiply;
}

.popup-outer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  padding-bottom: 60px;
  overflow-y: scroll;
}

.popup-box {
  position: relative;
  max-width: 337px;
  margin: 60px auto 0;
  padding: 42px 16px 20px;
  background: #fff;
}
@media (max-width: 767.9999px) {
  .popup-box {
    width: 90%;
  }
}
.popup-box .close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.popup-box .close-button:before, .popup-box .close-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 20px;
  background: #333;
}
.popup-box .close-button:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.popup-box .close-button:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-box .image {
  margin-bottom: 12px;
}
.popup-box .image img {
  width: 100%;
}
.popup-box .title {
  margin-bottom: 8px;
  font-size: 1.6rem;
}
.popup-box .text {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.popup-box .popup-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 48px;
  margin: 0 auto;
  color: #fff;
  border-radius: 24px;
  background-color: #007fc3;
  margin-bottom: 40px;
}
.popup-box .popup-button:hover {
  opacity: 1;
  background-color: #1897db;
}

.emergency-message {
  width: 100%;
  height: 40px;
  background: #FFEBEB;
}
.emergency-message a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
}

.main-visual {
  padding-top: 12px;
  background-color: #F8F8F8;
}
.main-visual .slider-outer {
  margin: 0 8px 8px;
  overflow: hidden;
}
.main-visual .main-visual .slider-outer {
  max-width: 780px;
  max-height: 416px;
}
.main-visual .js-slider {
  width: 780px;
  max-width: 100%;
  opacity: 0;
}
.main-visual .js-slider.slick-slider {
  opacity: 1;
}
.main-visual .js-slider .slick-img img {
  width: 100%;
  height: 100vh;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-visual .js-slider .slick-initialized .slick-slide {
  height: 51vw;
}
.main-visual .js-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 730px;
  margin: 0 auto 20px;
  padding-bottom: 12px;
  opacity: 0;
}
.main-visual .js-slider-nav.slick-slider {
  opacity: 1;
}
.main-visual .js-slider-nav .slide-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 48px;
  margin: auto 0;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
}
.main-visual .js-slider-nav .slick-arrow {
  color: #007fc3;
  font-weight: 100;
  cursor: pointer;
}
.main-visual .js-slider-nav .prev-arrow {
  margin-right: 6px;
}
.main-visual .js-slider-nav .prev-arrow span {
  position: relative;
  right: -4px;
}
.main-visual .js-slider-nav .next-arrow {
  margin-left: 6px;
}
.main-visual .js-slider-nav .slick-list {
  margin-left: -6px;
}
.main-visual .js-slider-nav .slick-slide {
  margin-left: 6px;
}

.main-visual + nav .icon-menu li:nth-child(1), .main-visual + nav .icon-menu li:nth-child(2), .main-visual + nav .icon-menu li:nth-child(3) {
  height: 94px;
}
.main-visual + nav .icon-menu li:nth-child(1) div, .main-visual + nav .icon-menu li:nth-child(2) div, .main-visual + nav .icon-menu li:nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 41px;
}
@media (max-width: 767.9999px) {
  .main-visual + nav .icon-menu li:nth-child(1) div, .main-visual + nav .icon-menu li:nth-child(2) div, .main-visual + nav .icon-menu li:nth-child(3) div {
    padding-bottom: 5px;
  }
}

.main-visual + nav .icon-menu li a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15px;
}

@media (max-width: 767.9999px) {
  .main-visual + nav .icon-menu li:nth-child(2) span {
    line-height: 1.2;
  }
}
.sp-link-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.sp-link-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 500;
}
.sp-link-text a:hover {
  opacity: 1;
  color: #007fc3;
}
.sp-link-text a span {
  margin-right: 4px;
  font-size: 1.4rem;
  color: #007fc3;
}
.sp-link-text a span::before {
  font-family: "Material Symbols Outlined";
  content: "\e5e1";
}

.sp-link-text + .sp-banner {
  max-width: calc(100% - 32px);
  margin: 0 auto 30px;
  text-align: center;
}

.section-inner {
  padding-top: 60px;
}
.section-inner .section-title {
  text-align: center;
}
.section-inner .section-title .en {
  display: block;
  font-family: "Libre Baskerville", serif;
  line-height: 1.6;
  font-size: 3.6rem;
}
.section-inner .button {
  margin-bottom: 60px;
}
.section-inner .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 48px;
  margin: 0 auto;
  color: #fff;
  border-radius: 24px;
  background-color: #007fc3;
  font-size: 1.4rem;
}
.section-inner .button a:hover {
  opacity: 1;
  background-color: #1897db;
}

.event.section-inner::before {
  content: "";
  position: absolute;
  top: 19px;
  right: -13.4vw;
  z-index: -1;
  display: block;
  width: 40vw;
  height: 40vw;
  background: url("../img/bg_right_01_sp.png") no-repeat 0 0/contain;
}
.event.section-inner::after {
  content: "";
  position: absolute;
  top: -18px;
  left: -11.5vw;
  z-index: -1;
  display: block;
  width: 43.2vw;
  height: 43.2vw;
  background: url("../img/bg_left_01_sp.png") no-repeat 0 0/contain;
}
.event .section-title {
  margin-bottom: 40px;
}
@media (max-width: 767.9999px) {
  .event .item-list {
    padding: 0 4.2666666667%;
  }
}
.event .js-category-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
  padding: 0 7px;
}
.event .js-category-select li {
  margin: 0 5px 12px;
  font-size: 1.4rem;
}
.event .js-category-select li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #9E9E9E;
  border-radius: 20px;
  width: 27.4vw;
  max-width: 110px;
  background: #fff;
  overflow: hidden;
}
.event .js-category-select li a:hover {
  opacity: 1;
}
.event .js-category-select li a.active {
  color: #fff;
  pointer-events: none;
  border-color: #007fc3;
  background: #007fc3;
}
.event .js-category-select li:nth-of-type(2) a.active {
  border-color: #CB7A9F;
  background: #CB7A9F;
}
.event .js-category-select li:nth-of-type(3) a.active {
  border-color: #9A8BB1;
  background: #9A8BB1;
}
.event .js-category-select li:nth-of-type(4) a.active {
  border-color: #69A563;
  background: #69A563;
}
.event .js-category-select li:nth-of-type(5) a.active {
  border-color: #DE886B;
  background: #DE886B;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.item-list li {
  width: 47.5218658892%;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
.item-list li:nth-of-type(2n + 2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.item-list li.hide {
  display: none;
}
.item-list li a img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.item-list .picture {
  position: relative;
  width: 100%;
  height: 43.2vw;
  overflow: hidden;
}
.item-list .picture img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 43.2vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.item-list .picture img + img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.item-list .picture .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 20;
  width: 49px;
  height: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #007fc3;
}
.item-list .text {
  padding: 12px 0 6px 12px;
  border-left: 1px solid;
}
.item-list p {
  margin: 0 0 8px;
}
.item-list .category {
  font-weight: bold;
}
.item-list .event .text {
  border-color: #CB7A9F;
}
.item-list .event .category {
  color: #CB7A9F;
}
.item-list .cinema .text {
  border-color: #9A8BB1;
}
.item-list .cinema .category {
  color: #9A8BB1;
}
.item-list .art .text {
  border-color: #69A563;
}
.item-list .art .category {
  color: #69A563;
}
.item-list .hall .text {
  border-color: #DE886B;
}
.item-list .hall .category {
  color: #DE886B;
}
.item-list .title {
  height: 3em;
  font-size: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.item-list .shop {
  color: #007fc3;
  font-size: 1.4rem;
  text-decoration: underline;
}

.shopnews::before {
  content: "";
  position: absolute;
  top: -96px;
  left: -12.5vw;
  display: block;
  width: 43.2vw;
  height: 43.2vw;
  background: url("../img/bg_left_02_sp.png") no-repeat 0 0/contain;
}
.shopnews::after {
  content: "";
  position: absolute;
  right: -15.3vw;
  bottom: -74px;
  display: block;
  width: 50.2vw;
  height: 50.2vw;
  background: url("../img/bg_right_02_sp.png") no-repeat 0 0/contain;
}
.shopnews.section-inner {
  padding: 60px 4.2666666667%;
  background-color: #F8F8F8;
}
.shopnews.section-inner .button {
  margin-bottom: 0;
}
.shopnews .section-title {
  margin-bottom: 40px;
}
.shopnews .item-list .picture {
  margin-bottom: 12px;
}

.instagram.section-inner {
  width: 100%;
  overflow: hidden;
}
.instagram.section-inner .section-title {
  margin-bottom: 20px;
}
.instagram.section-inner .section-title + p {
  margin-bottom: 40px;
  font-size: 1.4rem;
  text-align: center;
}
.instagram.section-inner .insta-image {
  margin-bottom: 40px;
}

.information {
  padding: 60px 4.2666666667% 0;
  border-top: 1px solid #E2E2E2;
}
.information::before {
  content: "";
  position: absolute;
  top: -110px;
  left: -12.2vw;
  display: block;
  width: 42.7vw;
  height: 42.7vw;
  background: url("../img/bg_left_03_sp.png") no-repeat 0 0/contain;
}
.information::after {
  content: "";
  position: absolute;
  right: -10vw;
  bottom: -97px;
  display: block;
  width: 33.9vw;
  height: 33.9vw;
  background: url("../img/bg_right_03_sp.png") no-repeat 0 0/contain;
}
.information .section-title {
  margin-bottom: 30px;
}
.information .list {
  margin-bottom: 30px;
  font-size: 1.4rem;
}
.information .list li {
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E2;
}
.information .list a {
  position: relative;
}
.information .list a:hover {
  opacity: 1;
  color: #007fc3;
}
.information .list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #007fc3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.information .list a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.information .date {
  margin-bottom: 10px;
}
.information .date + p {
  margin-bottom: 20px;
}
.information .new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49px;
  height: 20px;
  margin: 0 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #007fc3;
}

.banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 16px 28px;
  background-color: #F8F8F8;
}
.banner-box li {
  margin-bottom: 12px;
}

.access.section-inner {
  padding-top: 40px;
}

.access-info {
  margin-bottom: 40px;
  text-align: center;
}

.access-logo {
  width: 150px;
  margin: 30px auto;
}

.access-address {
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.access-address a {
  color: #007fc3;
}

.google-map,
.google-map iframe {
  width: 100%;
  height: 222px;
}

.banner .js-go-top.UpMove,
.banner .js-go-top.DownMove {
  bottom: 50px;
}

.banner .minimizable-chat {
  bottom: 128px !important;
}

@media (min-width: 768px) {
  .main-visual {
    position: relative;
    min-width: 1144px;
    margin-bottom: 16px;
    padding: 10px 0 0;
  }
  .main-visual::before {
    content: "";
    position: absolute;
    top: 0;
    right: -132px;
    display: block;
    width: 336px;
    height: 336px;
    background: url("../img/bg_right_01_pc.png") no-repeat 0 0/contain;
  }
  .main-visual::after {
    content: "";
    position: absolute;
    left: -80px;
    bottom: -72px;
    display: block;
    width: 282px;
    height: 282px;
    background: url("../img/bg_left_01_pc.png") no-repeat 0 0/contain;
  }
  .main-visual .slider-outer {
    max-width: 780px;
    max-height: 416px;
    margin: 0 auto 10px;
  }
  .main-visual .js-slider-nav {
    margin-bottom: 16px;
    padding-bottom: 10px;
  }
  .main-visual .js-slider-nav .prev-arrow {
    margin-right: 14px;
  }
  .main-visual .js-slider-nav .prev-arrow span {
    position: relative;
    right: -4px;
  }
  .main-visual .js-slider-nav .next-arrow {
    margin-left: 14px;
  }
  .main-visual .js-slider-nav .slick-list {
    margin-left: -10px;
  }
  .main-visual .js-slider-nav .slick-slide {
    margin-left: 10px;
  }
  .section-inner {
    position: relative;
    min-width: 1144px;
  }
  .section-inner.information .list {
    max-width: 960px;
    margin: 0 auto;
  }
  .section-inner .section-title {
    margin-bottom: 40px;
  }
  .section-inner .section-title .en {
    font-size: 4rem;
  }
  .event.section-inner {
    border-top: 1px solid #E2E2E2;
  }
  .event.section-inner::before {
    top: 40px;
    right: -46px;
    width: 220px;
    height: 220px;
    background: url("../img/bg_right_02_pc.png") no-repeat 0 0/contain;
  }
  .event.section-inner::after {
    display: none;
  }
  .event .section-title {
    margin-bottom: 30px;
  }
  .js-category-select {
    margin-bottom: 30px;
  }
  .js-category-select li {
    margin: 0 9px;
  }
  .js-category-select li:nth-of-type(2) a:hover {
    color: #CB7A9F;
    border-color: #CB7A9F;
  }
  .js-category-select li:nth-of-type(3) a:hover {
    color: #9A8BB1;
    border-color: #9A8BB1;
  }
  .js-category-select li:nth-of-type(4) a:hover {
    color: #69A563;
    border-color: #69A563;
  }
  .js-category-select li:nth-of-type(5) a:hover {
    color: #DE886B;
    border-color: #DE886B;
  }
  .item-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 1144px;
    padding: 0 32px 0 0;
  }
  .item-list li {
    width: 25%;
    padding-left: 32px;
  }
  .item-list li:nth-of-type(4n + 2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .item-list li:nth-of-type(4n + 3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .item-list li:nth-of-type(4n + 4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .item-list a {
    display: block;
  }
  .item-list .picture {
    width: 246px;
    height: 246px;
  }
  .item-list .picture .new {
    width: 58px;
    height: 24px;
    font-size: 1.3rem;
  }
  .item-list .picture img {
    height: 246px;
  }
  .shopnews::before {
    top: -132px;
    left: -86px;
    width: 300px;
    height: 300px;
    background: url("../img/bg_left_02_pc.png") no-repeat 0 0/contain;
  }
  .shopnews::after {
    right: -82px;
    bottom: -96px;
    width: 300px;
    height: 300px;
    background: url("../img/bg_right_03_pc.png") no-repeat 0 0/contain;
  }
  .shopnews.section-inner {
    padding: 60px 0;
  }
  .instagram.section-inner .insta-image {
    max-width: 1000px;
    margin: 0 auto 50px;
  }
  .information {
    padding: 60px 0 0;
    border-top: 1px solid #E2E2E2;
  }
  .information::before {
    top: -72px;
    left: -61px;
    width: 272px;
    height: 272px;
    background: url("../img/bg_left_03_pc.png") no-repeat 0 0/contain;
  }
  .information::after {
    right: -158px;
    bottom: -242px;
    width: 344px;
    height: 344px;
    background: url("../img/bg_right_04_pc.png") no-repeat 0 0/contain;
  }
  .information .list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 42px;
    padding-left: 94px;
  }
  .information .list li:last-child {
    margin-bottom: 40px;
  }
  .information .date {
    margin-right: 24px;
  }
  .information .date + p {
    margin-bottom: 37px;
  }
  .information .new {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    width: 58px;
    height: 24px;
    font-size: 1.3rem;
  }
  .pc-banner-box-bg {
    width: 100%;
    min-width: 1144px;
    background-color: #F8F8F8;
  }
  .banner-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0 40px;
  }
  .banner-box li {
    width: 304px;
    margin-bottom: 24px;
  }
  .banner-box li:nth-child(3n+2) {
    margin: 0 24px 24px;
  }
  .access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .access.section-inner {
    padding-top: 0;
  }
  .access.section-inner .section-title {
    margin-bottom: 0;
  }
  .access .access-info {
    width: 532px;
    height: 494px;
    margin-bottom: 0;
    padding-top: 60px;
  }
  .access .access-logo {
    width: 150px;
    margin: 30px auto;
  }
  .access .access-address {
    margin-bottom: 40px;
  }
  .access .google-map {
    width: calc(100% - 532px);
    height: 494px;
  }
  .access .google-map iframe {
    width: 100%;
    height: 494px;
  }
}/*# sourceMappingURL=layout-top.css.map */